table {
  width: 100%;
}
form:has(table) {
  max-height: fit-content !important;
}
table td {
  white-space: normal !important;
}


.tdMaxHeight {
  max-height: 100px;
  overflow: scroll;
  white-space: normal;
  display: inline-block
}